body{
    background-image: url(maxresdefault.jpg) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.sitename{
    color: blue;
    font-family: Franklin Gothic Medium;
    width: 25;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    width: 30px;
    
}
.topofpage{
    display: flex;
    background-color:rgb(97, 192, 60);
    color: rgb(11, 11, 11);
    align-items: center;
  }
.topofpage img {
   margin: 0 30px
}
.hover-option {
    display: none;
  }
  
  .hover-container:hover .hover-option {
    display: block;
  }